<div
  [class]="isOverdue ? 'card-wrapper--isOverdue' : ''">
  <li>
    <div
      class="card">
      <div class="meetup-header">
        <h2 class="meetup-description-title">
          {{meetupData.name}}
        </h2>
        <p
          class="subs-count">
          {{1}} подписчик
        </p>
        <div class="meetup-info-container">
          <time
            class="meet-time"
            datetime="meetupData.meetTime">
            {{meetupData.time| dateFormat}}
          </time>
          <ng-container *ngIf="isOverdue; else overdue">
            <p
              class="room-number room-number-status">
              Проведено
            </p>
          </ng-container>
          <ng-template #overdue>
            <p
              class="room-number">
              Переговорная {{meetupData.location}}
            </p>
          </ng-template>
        </div>
      </div>

      <div
        class="meetup-details"
        [class]="isCardOpened ? 'meetup-details--open' : ''">
        <div
          class="meetup-description">
          <p class="meetup-description-description">
            {{meetupData.description ? meetupData.description : 'Описание митапа отсутствует'}}
          </p>
        </div>
        <div class="meetup-target">
          <h3
            class="meetup-target-title">
            Целевая аудитория
          </h3>
          <p
            class="meetup-target-description">
            {{meetupData.targetAudience}}
          </p>
        </div>
        <div
          class="meetup-what-to-know">
          <h3
            class="meetup-what-to-know-title">
            Что надо знать?
          </h3>
          <p class="meetup-what-to-know-list">
            {{meetupData.needToKnow}}
          </p>
        </div>
        <div
          class="meetup-what-will-be">
          <h3
            class="meetup-what-will-be-title">
            Что будет?
          </h3>
          <ul class="meetup-what-to-know-list">
            <li>
              {{meetupData.willHappen}}
            </li>
          </ul>
        </div>
        <div class="meetup-why-should-come">
          <h3
            class="meetup-why-should-come-title">
            Почему надо обязательно прийти?
          </h3>
          <p
            class="meetup-why-should-come-description">
            {{meetupData.reasonToCome}}
          </p>
        </div>
      </div>

      <div
        class="meetup-footer">
        <p class="author">
          <app-icon
            class="login-icon"
            iconName="login-icon">
          </app-icon>
          {{meetupData.owner.fio}}
        </p>
        <div
          class="meetup-footer-buttons-container">
          <ng-container *ngIf="!isOverdue">
            <ng-container *ngIf="isUserGoing; else wontGo">
              <app-button
                class="status-button"
                [color]="'grey'"
                [size]="'big'"
                (click)="handleUnsubscribeToMeetup()">
                Не смогу пойти</app-button>
            </ng-container>
            <ng-template #wontGo>
              <app-button
                class="status-button"
                [color]="'lilac'"
                [size]="'big'"
                (click)="handleSubscribeToMeetup()">
                Я пойду!</app-button>
            </ng-template>
          </ng-container>
          <app-button
            class="toggle-button"
            [color]="'orange'"
            size="small"
            (click)="toggleCard()">
            <ng-container *ngIf="!isCardOpened; else arrowUp">
              <app-icon
                iconName="arrow-down-icon">
              </app-icon>
            </ng-container>
            <ng-template #arrowUp>
              <app-icon
                iconName="arrow-up-icon">
              </app-icon>
            </ng-template>
          </app-button>
        </div>
      </div>
    </div>
  </li>
</div>