@import "variables";
@import "fonts";

:host {
  display: block;
  color: $primary-color;
  background-color: $default-color;
  font-size: $middle-text;
  font-family: $font-main;
  line-height: 24px;
  font-weight: 400;
  box-shadow: 0 0px 2px 0px $primary-color inset;
  padding: 18px 18px 0 18px;
  min-height: 162px;
}

.card-wrapper--isOverdue {
  opacity: 0.7;
}

ul {
  list-style-type: none;
}

.meetup-header {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.meetup-description-title {
  align-self: start;
  color: $bold-color;
  font-family: $font-title;
  font-size: $title-text;
  margin: 0 10px 0 0;
  font-weight: 400;
}

.meetup-description-description {
  margin: 0 280px 0 0;
}

.subs-count {
  align-self: start;
  color: $accent-color;
  margin: 0;
  line-height: 28px;
}

.meetup-info-container {
  display: flex;
  flex-direction: column;
}

.meet-time {
  color: $bold-color;
  font-family: $font-title;
  font-size: $title-text;
  margin-bottom: 5px;
  align-self: flex-end;
}

.room-number {
  color: $bold-color;
  font-size: $little-text;
  margin: 0 0 0 auto;
}

.room-number-status {
  color: $accent-color;
}

.meetup-details {
  margin: 0 0 10px 0;
}

.meetup-info-container {
  margin-left: auto;
}

.meetup-description,
.meetup-target,
.meetup-what-to-know,
.meetup-what-will-be {
  margin: 0 0 20px 0;
}


.meetup-target-title,
.meetup-what-to-know-title,
.meetup-what-will-be-title,
.meetup-why-should-come-title {
  color: $bold-color;
  font-size: $big-text;
  line-height: 27px;
  margin: 0 0 5px 0;
  font-weight: 400;
}

.meetup-target-description,
.meetup-why-should-come-description,
.meetup-what-to-know-list,
.meetup-what-to-know-list {
  margin: 0;
  padding: 0 0 0 30px;
}

.meetup-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-button {
    margin-left: auto;
}

.author {
  margin: 0 0 10px 53px;
  position: relative;
}

.login-icon {
  position: absolute;
  left: -40px;
}

:host ::ng-deep .login-icon .mat-icon {
  height: 25px;
  width: 25px;
}

.status-button {
  margin-right: 10px;
  margin-left: auto;
}

.toggle-button {
  margin-right: -18px;
}
