<header
  class="header">
  <div
    class="header-left">
    <a
      class="header-link"
      href="#">
      <h1
        class="header-link-title">
        MeetUps
      </h1>
    </a>
    <div
      class="header-logo-container">
      <a
        class="header-logo-up"
        href="https://www.fil-it.ru"
        target="_blank">
        <img
          class="header-logo-up-image"
          src="assets/images/philosophy-logo.png"
          width="192px"
          height="30px"
          alt="компания Философия ИТ">
      </a>
      <a
        class="header-logo-down"
        href="https://www.digitalleague.ru/"
        target="_blank">
        <img
          class="header-logo-down-image"
          src="assets/images/liga-logo.png"
          width="95px"
          height="30px"
          alt="компания Лига цифровой экономики">
      </a>
    </div>
  </div>
  <nav
    class="header-nav">
    <ul
      class="header-nav-list">
      <li
        class="header-nav-item header-nav-item--active">
        <a
          href="#">
          Все митапы
        </a>
      </li>
      <li
        class="header-nav-item">
        <a
          href="#">
          Мои митапы
        </a>
      </li>
      <li
        class="header-nav-item">
        <a
          href="#">
          Пользователи
        </a>
      </li>
    </ul>
    <ul
      class="header-nav-user-list">
      <li
        class="header-nav-user-item">
        <app-button
          class="header-nav-user-button">
          <app-icon
            class="header-nav-user-icon"
            iconName="settings-icon">
          </app-icon>
        </app-button>
      </li>
      <li
        class="header-nav-user-item">
        <app-button
          class="header-nav-user-button">
          <app-icon
            class="header-nav-user-icon"
            iconName="login-icon">
          </app-icon>
        </app-button>
      </li>
    </ul>
  </nav>
</header>
