<header
  class="header">
  <div
    class="header-left">
    <a
      class="header-link"
      [routerLink]="AppRoute.Root">
      <h1
        class="header-link-title">
        MeetUps
      </h1>
    </a>
    <div
      class="header-logo-container">
      <a
        class="header-logo-up"
        href="https://www.fil-it.ru"
        target="_blank">
        <img
          class="header-logo-up-image"
          src="assets/images/philosophy-logo.png"
          width="192px"
          height="30px"
          alt="компания Философия ИТ">
      </a>
      <a
        class="header-logo-down"
        href="https://www.digitalleague.ru/"
        target="_blank">
        <img
          class="header-logo-down-image"
          src="assets/images/liga-logo.png"
          width="95px"
          height="30px"
          alt="компания Лига цифровой экономики">
      </a>
    </div>
  </div>
  <nav
    class="header-nav">
    <ul
      class="header-nav-list"
      *ngIf="user$ | async">
      <li
        class="header-nav-item header-nav-item--active">
        <a
          [routerLink]="AppRoute.AllMeetups"
          routerLinkActive="active">
          Все митапы
        </a>
      </li>
      <li
        class="header-nav-item">
        <a
          [routerLink]="AppRoute.MyMeetups"
          routerLinkActive="active">
          Мои митапы
        </a>
      </li>
      <li
        class="header-nav-item"
        *ngIf="isAdmin">
        <a
          [routerLink]="AppRoute.UsersList"
          routerLinkActive="active">
          Пользователи
        </a>
      </li>
    </ul>
    <ul
      class="header-nav-user-list">
      <li
        class="header-nav-user-item"
        *ngIf="user$ | async">
        <app-button
          class="header-nav-user-button">
          <app-icon
            class="header-nav-user-icon"
            iconName="settings-icon">
          </app-icon>
        </app-button>
      </li>

      <li
        class="header-nav-user-item">
        <ng-container *ngIf="user$ | async; else login">
          <app-button
            class="header-nav-user-button"
            (click)="logout()">
            <app-icon
              class="header-nav-user-icon"
              iconName="logout-icon">
            </app-icon>
          </app-button>
        </ng-container>
        <ng-template #login>
          <app-button
            class="header-nav-user-button"
            [routerLink]="AppRoute.Login">
            <app-icon
              class="header-nav-user-icon"
              iconName="login-icon">
            </app-icon>
          </app-button>
        </ng-template>
      </li>

    </ul>
  </nav>
</header>