@import "variables";

.mdc-button {
  height: 50px;
  font-family: $font-main;
  font-size: $middle-text;
  line-height: 25px;
}

.small {
  width: 70px;
}

.medium {
  width: 125px;
}

.big {
  width: 160px;
}

.mat-lilac:not(:disabled) {
  background-color: $secondary-color;
  color: $bold-color;
}

.mat-orange:not(:disabled) {
  background-color: $accent-color;
  color: $bold-color;
}

.mat-grey:not(:disabled) {
  background-color: $primary-color;
  color: $secondary-color;
}
