.all-meetups {
  padding: 70px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.create-button {
  display: flex;
  justify-content: end;
}

.search-form {
  margin-bottom: 50px;
  padding: 0 40px 0;
}
