<form
  class="user-list-form"
  [class]="isEditing ? 'user-list-form--active' : ''"
  [formGroup]="formGroup">
  <mat-form-field
    class="user-list-form-email">
    <input
      class="admin-input"
      [class]="isEditing ? 'user-list-form-email--active' : ''"
      [value]="user.email"
      type="email"
      required
      autocomplete="off"
      formControlName="email"
      matInput>
  </mat-form-field>
  <mat-form-field
    class="user-list-form-password">
    <input
      class="admin-input"
      [class]="isEditing ? 'user-list-form-email--active' : ''"
      [value]="!isEditing ? plugPassword : ''"
      [type]="isEditing ? 'text' : 'password'"
      autocomplete="off"
      formControlName="password"
      placeholder="Введите новый пароль"
      matInput>
  </mat-form-field>
  <mat-form-field
    class="user-list-form-status">
    <mat-select
      [class]="isEditing ? 'user-list-form-email--active' : ''"
      autocomplete="off"
      formControlName="role"
      (selectionChange)="handleUpdateUserRole()">
      <mat-option
        *ngFor="let role of userRole; index as i"
        [value]="role">
        {{role | lowercase}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div
    class="user-list-form-edit-button">
    <button
      class="delete-button user-list-form-button"
      mat-button
      (click)="handleDeleteUser()">
      <app-icon
        iconName="delete-icon">
      </app-icon>
    </button>
    <button
      class="edit-button user-list-form-button"
      mat-button
      (click)="handleUpdateUserInfo()">
      <app-icon
        iconName="edit-icon">
      </app-icon>
    </button>
  </div>
</form>