@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Cherry Bomb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../assets/fonts/CherryBombOne-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Open Sans Hebrew Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../assets/fonts/OpenSansHebrewCondensed-Bold.woff2") format("woff2"),
}
