//colors
$default-color: #2C2C2C;
$secondary-color: #4C3F78;
$info-color: #008697;
$primary-color: #B4B4C0;
$accent-color: #B85526;
$background-color: #1E1E1E;
$bold-color: #E9E9E9;

//fonts
$font-main: "Open Sans", "Arial", sans-serif;
$font-title: "Cherry Bomb", "Arial", sans-serif;
$font-logo: "Open Sans Hebrew Condensed", "Arial", sans-serif;

//font-size
$little-text: 14px;
$middle-text: 18px;
$big-text: 20px;
$title-text: 24px;
$logo-text: 56px;


