<section
  class="create-meetup">
  <div
    class="create-meetup-container">
    <app-create-meetup></app-create-meetup>
    <div
      class="buttons-container">
      <app-button
        class="delete-button create-meetup-button"
        [color]="'orange'"
        [size]="'big'">
        Удалить
      </app-button>
      <app-button
        class="cancel-button create-meetup-button"
        [color]="'grey'"
        [size]="'big'">
        Отмена
      </app-button>
      <app-button
        class="save-button create-meetup-button"
        [color]="'lilac'"
        [size]="'big'">
        Сохранить
      </app-button>
    </div>
  </div>
</section>